{% from "jenkins_exporter/map.jinja" import jenkins_exporter with context %}
[Unit]
Description=jenkins_exporter for delivering Jenkins metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
StandardOutput=journal
StandardError=journal
User= {{jenkins_exporter.service_user}}
Group= {{jenkins_exporter.service_group}}

ExecStart={{jenkins_exporter.dir}}/jenkins_exporter.py http://{{ jen_exporter.url }}:{{ jen_exporter.port }} {{ jen_exporter.metrics_port }}

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
